# Data wrangling with Panda and Numpy

In [3]:
import pandas as pd
import numpy as np

In [ ]:
!pip install pandas

## Creating Dataframes in Pandas
* From Scratch
    1. List of a list
    2. Dictionary
* From Local File
* Connecting to a Database
* Connecting to an API

## From Scratch
    * List of a list

In [7]:
heading = ['States', 'Capital', 'LGAs', 'Population']
Info =[
    ['Lagos', 'Ikeja', 32, 245000],
    ['Kwara', 'Ilorin', 16, 223000],
    ['Osun', 'Osogbo', 27, 563455],
    ['Kano', 'Kano', 44, 798734]
]

data = pd.DataFrame(data=Info, columns=heading)
data

  States Capital  LGAs  Population
0  Lagos   Ikeja    32      245000
1  Kwara  Ilorin    16      223000
2   Osun  Osogbo    27      563455
3   Kano    Kano    44      798734

In [8]:
stateData = {
    'States': ['Lagos', 'Kwara', 'Osun', 'Kano'],
    'Capital': ['Ikeja', 'Ilorin', 'Osogbo', 'Kano'],
    'LGAs': [32, 16,27,44],
    'Population': [ 245000, 223000, 563455, 798734],
}

In [10]:
data = pd.DataFrame(data=stateData)
data

  States Capital  LGAs  Population
0  Lagos   Ikeja    32      245000
1  Kwara  Ilorin    16      223000
2   Osun  Osogbo    27      563455
3   Kano    Kano    44      798734

In [ ]:
# Create a dataframe with pandas for Employees, using list of a list
# Create a dataframe with pandas for Employees, using disctionary